.todo-list li .toggle {
	width: 1px;
	height: 1px;
	border: none; /* Mobile Safari */
	opacity: 0;
	position: absolute;
	right: 100%;
	bottom: 100%;
}

/* .toggle + label {
	width: 34px;
	height: 60px;
	font-size: 0;
	position: absolute;
	top: -52px;
	left: -13px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
} */

/* .toggle + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 15px 10px 10px;
} */

.toggle:checked + .label:before {
	color: #737373;
}

.todo-list li {
	position: relative;
	font-size: 18px;
	border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
	border-bottom: none;
}

.todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

.todo-list li.editing .edit {
	display: block;
	width: calc(100% - 43px);
	padding: 12px 16px;
	margin: 0 0 0 43px;
}

.todo-list li.editing .view {
	display: none;
}

.todo-list li .toggle {
	text-align: center;
	width: 40px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
	border: none; 
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

.todo-list li .toggle {
	opacity: 0;
}

.todo-list li .toggle + .label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.todo-list li .toggle:checked + .label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todo-list li .label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 85px 15px 50px;
}

.todo-list li .label .created {
	font-size: 13px;
	color: gray;
}

.description {
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	font-weight: 400;
	color: #4d4d4d;
	cursor: pointer;
}

.completed{
	color: #cdcdcd;
	text-decoration: line-through;
}

.todo-list li .icon {
	position: absolute;
	top: 0;
	bottom: -3px;
	width: 30px;
	height: 40px;
	font-size: 34px;
	color: #cc9a9a;
	margin: auto 0 auto;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.todo-list li .icon:hover {
	color: #af5b5e;
}

.todo-list li .icon-destroy {
	right: 10px;
}

.todo-list li .icon-destroy:after {
	content: '×';
}

.todo-list li .icon-edit {
	font-size: 19px;
	right: 45px;
}

.todo-list li .icon-edit:after {
	content: '✎';
}

.todo-list li .edit {
	display: none;
}

.todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.form-edit {
	margin: 0;
  }
  
.timer {
display: flex;
vertical-align: middle;
align-items:center;
	}
  
  .start-button,
  .stop-button {
	margin-left: 5px;
	cursor: pointer;
  }

  .icon-play::after {
    content: "▶";
	color: #cc9a9a;
	vertical-align:middle ;
	height: 100%;
}

.icon-pause::after {
    content: "⏸";
}

.timer span {
	align-self: center;
	margin-left: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}
}