{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier", "@typescript-eslint", "react", "jsx-a11y"],
  "extends": [
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi":"off",
    "eol-last":"off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "prefer-destructuring": "off",
    "import/no-extraneous-dependencies":"off"
  },
  "overrides": [
    {
      "files": ["*.tsx"], // указывает на файлы, к которым применяются следующие правила
      "rules": {
        "prettier/prettier": "error",
        "import/no-unresolved": "off", // отключает правило import/no-unresolved
        "import/extensions": "off", // отключает правило import/extensions
        "no-undef": "off", // отключает правило no-undef
        "no-plusplus": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "tsx": true
    },
    "requireConfigFile": false,
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser"
}