{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi":"off",
    "eol-last":"off"
  },
  "overrides": [
    {
      "files": ["*.tsx"], // указывает на файлы, к которым применяются следующие правила
      "rules": {
        "prettier/prettier": "error",
        "import/no-unresolved": "off", // отключает правило import/no-unresolved
        "import/extensions": "off", // отключает правило import/extensions
        "no-undef": "off", // отключает правило no-undef
        "no-plusplus": "off"
      }
    }
  ]
}