{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb"],
  "rules": {
    "semi":"off",
    "eol-last":"off"
  },
  "overrides": [
    {
      "files": ["*.tsx"], // указывает на файлы, к которым применяются следующие правила
      "rules": {
        "import/no-unresolved": "off", // отключает правило import/no-unresolved
        "import/extensions": "off", // отключает правило import/extensions
        "no-undef": "off" // отключает правило no-undef
      }
    }
  ]
}